
  <h1>{{user.email}}</h1>

<ul>
  {{#each courses}}
    <li>{{course_name}}</li>

  {{/each}}
</ul>
<a href="/users/{{user.id}}/courses/new" class="btn btn-default">Add a New Course</a>
  <a href="/users" class="btn btn-default">Clubhouse</a>

