<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
      <link rel="stylesheet" href="/style.css" media="screen" title="no title">
    <title>auth</title>
    <style media="screen">
      nav li {
        display: inline;
      }
      a {
        text-decoration: none;
      }
      nav form {
        display: inline;
      }
    </style>
  </head>
  <body>
  <header>FORE! Tracker</header>
    <nav>
      <ul>
        <li><a href="/users/signup" >sign up</a> | </li>
        <li><a href="/sessions/login">login</a> | </li>
        <li>
          <form method="post" action="/sessions?_method=DELETE">
            <button class="btn btn-default">logout</button>
          </form>
        </li>
      </ul>
    </nav>
    {{{body}}}
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

  </body>
</html>
