<form action="/users" method="post">
  <!-- <div>
    <label for="username">username</label>
    <input type="text" name="username">
  </div> -->
  <div>
    <label for="email">email</label>
    <input type="text" name="email">
  </div>

  <div>
    <label for="password">password</label>
    <input type="text" name="password" pattern=".{6,}">
    <p>Password must contain 6 or more characters<p>
  </div>
<!-- pattern=".{6,}" password character requirement -->
  <input type="submit" value="Submit">
</form>
